# =========================
# Java / Maven
# =========================

target/
*.class
*.jar
*.war


# =========================
# IDE
# =========================

.idea/
*.iml
.vscode/
.classpath
.project
.settings/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db


# =========================
# Application files
# =========================

uploads/*


# =========================
# Logs
# =========================

*.log


# =========================
# Environment / Secrets
# =========================

.env
.env.*